<!-- Landing page -->
<template name="home">
  
  <div class="ui grid">
    {{#if loggedInUser.emails}}
      <div class="ui button js-logout">Logout</div>
    {{else}}
      <div class="ui eight wide column">
        {{> atForm}}  
      </div>
    {{/if}}  
  </div>
  
  <div class="ui segment">
  	<div class="ui segment vertical">
  		<!-- <div class="ui grid"> -->
  			<div class="ui header">Test for Company ABC</div>
    		<div class="ui small header" >Company: {{company}}</div>
    		<div class="ui small header">Status: {{status}}</div>		
  		<!-- </div> -->
  		
    	<p>You have {{total_questions}} questions, answers in {{total_time}} minutes.</p>
    	<p>Once you start, you cannot stop the test. Only press this button when you are ready.</p>
  	</div>
    {{#each challenges}}
      {{> challenge_box}}
    {{/each}}
  </div>
</template>

<template name="challenge_box">
  <div class="ui segment vertical">
    <div class="ui label">{{name}}</div>
    <div class="ui segment vertical">
      <div class="ui secondary button floated right js-start">Start
      <i class="right chevron icon"></i></div> 
    </div>
  </div>
</template>