<template name="answer_options">
		<h4>Answer</h4>
		<div class="ui form">
			<div class="grouped fields js-answer-options">
				{{#each answers}}
				<div class="field">
					<div class="ui radio checkbox">
						<input type="radio" name="answer_{{../_id}}">
						<label>{{this}}</label>
					</div>
				</div>
				{{/each}}
			</div>	
			<div class="ui disable button floated right">Next</div>
		</div>	
</template>



<template name="challenge">
	<div class="ui grid">
		<div class="left floated six wide column">	
			<div class="ui segment">
		    	<h3>{{challenge.name}}</h3>
		    </div>		
		</div>
		<div class="right floated six wide column">	
			<div class="ui segment float right">
		    	<p>Time  {{time_left}} minutes</p>
		    </div>		
		</div>
	</div>

	<div class="ui segment">
		{{#with current_question}}
			{{> current_question}}
		{{else}}		
			<div class="ui label">The test is end</div>
			<p> You have 3 answers correct!</p>
		{{/with}}
	</div>
</template>

<template name="current_question">
	{{#if content}}
		<div class="ui segment">
			<h4>Question</h4>
			<p>{{content}}</p>
			{{> answer_options}}
		</div>
	{{/if}}
</template>